= link_to "Editor", root_path, :class => 'brand'
.nav-collapse.collapse
  %ul.nav
    %li
      = link_to "Howlers", howlers_path
    %li
      = link_to "Documents", documents_path
    = yield :navigation
    %li
      %audio{ src: "/audios/inception.mp3" }
